{% include "header.html" %}
    {% block header %}
    {% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/explore.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}"/>
    <title>Document</title>
</head>
<body>
    {% include "navbar.html" %}
    {% block navbar %}
    {% endblock %}
<div class="full-container">
    {% include "left_side_navbar.html" %}
    {% block left_side_navbar %}
    {% endblock %}
    <div class="img-container">
        {% for image in random_images %}
            <a href="/post/{{image.id}}"><img id="img" class="pic" src="data:image/jpeg;charset=utf-8;base64,{{ image.img | b64encode }}"></a>
        {% endfor %}
    </div>
</div>
</body>
</html>