    {% include "./add-ons/header.html" %}
    {% block header %}
    {% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}"/>
    <title>Document</title>
</head>
<body>
    {% include "./add-ons/navbar.html" %}
    {% block navbar %}
    {% endblock %}
<div class="full-container">
    {% include "./add-ons/left_side_navbar.html" %}
    {% block left_side_navbar %}
    {% endblock %}
    <div id="upload" class="upload">
        <p class="upload-title">Create New Post</p>
        <form class="upload-form" action="/mainpage" enctype="multipart/form-data" method="post">
            <input class="select-file" type="file" name="pic" />
            <br>
            <textarea class="img-desc" name="description"></textarea>
            <br>
            <button class="submit btn btn-primary" name="submit" type="submit">Upload</button>
        </form>
    </div>
        {% for image_list, comments_list in post %}
            {% for image in image_list %}
            <div id="img-container" class="img-container">
                <div class="headline">
                    <img class="prof-pic" src="{{ url_for('static', filename='profilepic.webp') }}"/>
                    <p>{{ image.author }}</p>
                </div>
                <img class="pic" src="data:image/jpeg;charset=utf-8;base64,{{ image.img | b64encode }}">
                <div class="buttons">
                    <form action="/comments/{{image.id}}">
                        <button id="like" name="like" class="fa fa-heart-o"></button>
                    </form>
                    <form action="/comments/{{ image.id }}" method="post">
                        <button name="commentButton" class="fa fa-comment-o"></button>
                    </form>
                </div>
                <p class="likes">{{image.likes}} Likes</p>
                <p class="username"><strong>{{ image.author }}</strong></p>
                <p class="description">{{ image.description }}</p>
                <div class="comment-overlflow">
                    {% for comment in image.comments_child %}
                        <div class="comment-container">
                            <p class="comment-user"><strong>{{ comment.username }}:</strong></p>
                            <p class="comments">{{ comment.comments }}</p>
                        </div>
                    {% endfor %}
                </div>
                <form action="/mainpage" method="post" class="bottom-box">
                    <input name="comment" class="comment" placeholder="Add a Comment..." />
                    <button name="commentBtn" class="publish">Publish</button>
                    <input name="imageId" style="display: none;" value="{{ image.id }}" />
                </form>
            </div> 
        {% endfor %}
        {% endfor %}
        <script src="../static/Js/like.js"></script>
        <script src="../static/Js/upload.js"></script>
</div>
</body>
</html>