{% include "./add-ons/header.html" %}
    {% block header %}
    {% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/singlePost.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}"/>
    <title>Document</title>
</head>
<body>
    {% include "./add-ons/navbar.html" %}
    {% block navbar %}
    {% endblock %}
<div class="full-container">
    {% include "./add-ons/left_side_navbar.html" %}
    {% block left_side_navbar %}
    {% endblock %}
    <div class="container">
        <div class="main-content">
            <div class="img-container">
                <img class="pic" src="data:image/jpeg;charset=utf-8;base64,{{ image.img | b64encode }}" />
            </div>
            <div class="comment-container">
                <ul>
                    <li class="author"><img class="prof-pic" src="{{ url_for('static', filename='profilepic.webp') }}"/> {{ image.author }}</li>
                    <li class="img-desc">{{ image.description }}</li>
                <div class="comments-cont">
                    {% for comments in image.comments_child %}
                        <li class="comment"><strong>{{ comments.username }}</strong>: {{ comments.comments }}</li>
                    {% endfor %}
                </div>
                </ul>
                <div class="inputs">
                    <form action="/post/{{image.id}}" method="post" class="inputs">
                        <input class="comment" placeholder="Add a comment..." name="comment"/>
                        <button class="publish" name="commentBtn" class="publish">Publish</button>
                        <input name="imageId" style="display: none;" value="{{ image.id }}" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>