html {
    height: 100%;
}

body {
    background-color: #eceff1;
    height: 100%;
}

.chat-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: white;
    margin-top: 100px;
}

.persons {
    flex-direction: column;
    border-right: 1px solid grey;
    height: 80vh;
    width: 350px;
}

.chat-header {
    display: flex;
    justify-content: center;
    gap: 20px;
    border-bottom: 1px solid gray;
    padding: 14px;
}

.titles {
    display: flex;
    justify-content: center;
}

.chat-rooms {
    padding-left: 15px;
    padding-top: 15px;
}

.chat-profile-pic {
    width: 30px;
    margin-bottom: 10px;
    object-fit: cover;
    border-radius: 50%;
}

.chat {
    width: 700px;
    height: 80vh;
    margin-left: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.all-messages {
    max-height: 75vh;
    overflow-y: scroll;
}

.chat-persons {
    text-decoration: none;
    color: black;
    font-size: 25px
}

.input-area {
    position: absolute;
    bottom: 15px;
}

#message {
    display: flex;
    flex-direction: column;
}

.text {
    background-color: #0095ff;
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
    width: fit-content;
    border-radius: 10px;  
    justify-content: end;
    max-width: 450px;
}

.own-texts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 25px;
}

.text-other {
    background-color: rgb(230, 230, 230);
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
    width: fit-content;
    border-radius: 10px;  
    justify-content: start;
    max-width: 450px;
}

#send {
    border: 1px solid grey;
    color: #0095ff;
    background-color: transparent;
    border-left: none;
    position: relative;
    right: 10px;
    height: 35px;
    border-radius: 0px 7px 7px 0px;
}

#messageValue {
    width: 550px;
    border: 1px solid grey;
    border-right: none;
    height: 35px;
    border-radius: 7px 0px 0px 7px;
}

.date {
    position: relative;
    top: 10px;
    font-weight: 100;
}

.date-other {
    position: relative;
    top: 10px;
    font-weight: 100;
}