{% include "header.html" %}
    {% block header %}
    {% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chatInbox.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}"/>
    <title>Document</title>
</head>
<body>
    {% include "navbar.html" %}
    {% block navbar %}
    {% endblock %}
<div class="full-container">
    {% include "left_side_navbar.html" %}
    {% block left_side_navbar %}
    {% endblock %}
    <div class="chat-container">
        <div class="persons">
            {% for chat in chats %}
                <a class="chat-persons" href="/chat/{{ chat.room_code }}">{{ chat.user2 }}</a>
                <br>
            {% endfor %}
            {% for chat in more_chats %}
                <a class="chat-persons" href="/chat/{{ chat.room_code }}">{{ chat.user1 }}</a>
                <br>
            {% endfor %}
        </div>
        <div class="chat">
            <h1>Chat area</h1>

        </div>
    </div>
</div>
</body>
</html>