{% include "./add-ons/header.html" %}
    {% block header %}
    {% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}"/>
    <title>Document</title>
</head>
<body>
    {% include "./add-ons/navbar.html" %}
    {% block navbar %}
    {% endblock %}
<div class="full-container">
    {% include "./add-ons/left_side_navbar.html" %}
    {% block left_side_navbar %}
    {% endblock %}
    <div class="container">
        <div class="profile-view">
            <div class="image-view">
                <img class="profile-pic" src="../static/Img/profilepic.webp" />
            </div>
            <div class="description-view">
                <div class="top-profile">
                    <h1>{{ username }}</h1><span><button id="edit">Edit</button></span>
                </div>
                <div class="mid-profile">
                    <p>Julkaisut: {{ post_count }}</p>
                    <p>Seuraajaa: {{ followers_count }}</p>
                    <p>Seurataan: {{ following_count }}</p>
                </div>
                <div class="bottom-profile">
                    <h2>{{ logged_in_user_first_name }} {{ logged_in_user_last_name }}</h2>
                    <p>description</p>
                    <div id="edit-description">
                        <textarea id="text"></textarea>
                        <button class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="img-container">
            {% for image in images %}
                <form class="image-form" action="/delete/{{image.id}}" method="post">
                    <div id="hidden-button" class="hidden-button">
                        <button name="deleteBtn" id="delete"><i class="fa fa-trash"></i></button>
                    </div>
                    <a href="/post/{{image.id}}"><img id="img" class="pic" src="data:image/jpeg;charset=utf-8;base64,{{ image.img | b64encode }}"></a>
                </form>
            {% endfor %}
        </div>
    </div>
</div>
    <script src="../static/Js/profile.js"></script>
</body>
</html>