{% include "./add-ons/header.html" %}
    {% block header %}
    {% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/singleprofile.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}"/>
    <title>Document</title>
</head>
<body>
    {% include "./add-ons/navbar.html" %}
    {% block navbar %}
    {% endblock %}
<div class="full-container">
    {% include "./add-ons/left_side_navbar.html" %}
    {% block left_side_navbar %}
    {% endblock %}
    <div class="container">
        <div class="profile-view">
            <div class="image-view">
                <img class="profile-pic" src="../static/Img/profilepic.webp" />
            </div>
            <div class="description-view">
                <form action="/profile/{{ id }}" method="post" class="top-profile">
                    <h1>{{ profile.username }}</h1><span><button name="follow" id="edit">Follow</button></span>
                    <button class="message" name="message">Send Message</button>
                </form>
                <div class="mid-profile">
                    <p>Julkaisut: {{ post_count }}</p>
                    <p>Seuraajaa: {{ follower_count }}</p>
                    <p>Seurataan: {{ following_count }}</p>
                </div>
                <div class="bottom-profile">
                    <h2>{{ profile.first_name }} {{ profile.last_name }}</h2>
                    <p>description</p>
                </div>
            </div>
        </div>
        <div class="img-container">
            {% for image in images %}
                <a href="/post/{{ image.id }}"><img class="pic" src="data:image/jpeg;charset=utf-8;base64,{{ image.img | b64encode }}"></a>
            {% endfor %}
        </div>
    </div>
</div>
</body>
</html>