{% include "header.html" %}
    {% block header %}
    {% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}"/>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <!-- <img class="pic" src="{{ url_for('static', filename='Ig.png') }}" /> -->
        <img class="pic" src="https://raw.githubusercontent.com/bzapata95/instagram-clone/master/web/public/img/mobilegif.gif"/>
        <div class="form"></div>
            <form action="/" method="post">
                {{ form.hidden_tag() }}
                <h2 class="title">Photogram</h2>
                {{ form.email(size=32, class="input", id="email", placeholder="Email") }}
                <br>
                {{ form.password(size=32, class="input", id="password", placeholder="Password") }}
                <br>
                {{ form.submit(class="submit btn btn-primary") }}
                <hr>
                <a href="/reset">Forgot Your Password?</a>
                <p class="linkToSignUp">Not a Member Yet? Sign up <a href="{{ url_for('signup') }}">Here</a></p>
            </form>
        </div>
        <img class="bottom-img" src="{{ url_for('static', filename='ig_bottom.png') }}"/>
    </div>
    
</body>
</html>