{% include "./add-ons/header.html" %}
    {% block header %}
    {% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}"/>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <form action="/signup" method="post">
            {{ form.hidden_tag() }}
            <h2 class="title">Photogram</h2>
            {{ form.username(size=32, class="input", id="Username", placeholder="Username") }}
            <br>
            {{ form.email(size=32, class="input", id="email", placeholder="Email") }}
            <br>
            {{ form.first_name(size=32, class="input", id="first_name", placeholder="First Name") }}
            <br>
            {{ form.last_name(size=32, class="input", id="last_name", placeholder="Last Name") }}
            <br>
            {{ form.password(size=32, class="input", id="password", placeholder="Password") }}
            <br>
            {{ form.password2(size=32, class="input", id="password2", placeholder="Repeat Password") }}
            <br>
            {{ form.submit(class="submit btn btn-primary") }}
            <p>Already Have an Account? <a href="/">Log In</a></p>
        </form>
        <img class="bottom-img" src="{{ url_for('static', filename='ig_bottom.png') }}"/>
    </div>
    
</body>
</html>